@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');

body {
	padding: 0;
	margin: 0;
	font-family: 'PT Sans Narrow', sans-serif;
}

.wrapper {
	background: linear-gradient(
		180deg,
		rgba(200, 187, 254, 1) 0%,
		rgba(255, 255, 255, 1) 100%
	);
}

.first-screen {
	width: 90%;
	margin: 0 auto;
	padding-top: 10px;

	display: grid;
	grid-template-columns: 1fr;
}

.first-screen__title {
	font-size: 60px;
	font-weight: 900;
	line-height: 90%;
}

.first-screen__desc {
	font-size: 30px;
	font-weight: 400;
	line-height: 120%;
}

.first-screen__button {
	margin: 20px auto;
	background-color: #c8bbfe;
	display: block;
	padding: 25px 25px;
	font-size: 20px;
	outline: none;
	border: none;
	border-radius: 10px;
}

.first-screen__button:hover {
	background-color: #bdaef9;
}

/* CARDS */

.cards {
	width: 90%;
	margin: 0 auto;
	display: grid;
	gap: 10px;
}

.cards__header {
	font-size: 25px;
	text-align: center; /* 
	grid-column-start: 1;
	grid-column-end: 3; */
	padding: 20px;
	font-weight: 900;
}

.cards__card {
	background-color: #e5dfff;
	border-radius: 20px;
	padding: 20px 40px;
	min-height: 200px; 
	overflow: hidden;
	transition: 100ms;
	font-size: 25px;
}

.cards__card:hover {
	background-color: #bdaef9;
}

.cards__card--big {
	background-image: url('./images/undraw_reminder_re_fe15.svg');
	background-size: 50% 50%;
	background-repeat: no-repeat;
	background-position: 100% bottom;
}

.cards__card--small {

	background-image: url('./images/undraw_businessman_re_mlee.svg');
	background-size: 50% 50%;
	background-repeat: no-repeat;
	background-position: 100% bottom;
}

.bg1 {
	background-image: url('./images/undraw_New_message_re_fp03.svg');
}

.bg2 {
	background-image: url('./images/undraw_business_deal_re_up4u.svg');
}

.bg3 {
	background-image: url('./images/undraw_businessman_re_mlee.svg');
}

.bg4 {
	background-image: url('./images/undraw_businessman_e7v0.svg');
}

/* FOOTER */

.footer {
	margin: 20px auto 0 auto;
	background-color: #7e6ace;

	display: grid;
	width: 90%;
	border-radius: 20px 20px 0 0;
}

.footer__social {
	padding: 20px 40px;
	background-image: url('./images/mail.svg');
	background-size: 50% 50%;
	background-repeat: no-repeat;
	background-position: 100% bottom;
}

.footer__mail {
	padding: 20px 40px;
	background-image: url('./images/mail.svg');
	background-size: 50% 50%;
	background-repeat: no-repeat;
	background-position: 100% bottom;
}

@media (min-width: 600px) {
	.cards {
		grid-template-columns: 1fr;
	}
	.cards__card--big {
		grid-column-start: 1;
		grid-column-end: 3;
	}
	.first-screen__table-cell--bg {
		background: url('./images/undraw_Bitcoin_re_urgq.svg');
		background-size: 100%;
		background-repeat: no-repeat;
		background-position: center center;
	}
}
